body{
    background-color: #0d1216;
    border: 0px;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}
.menu{
    display: flex;
    position: sticky;
    height: 40px;
    top: 0;
    margin-bottom: 20px;
    background-color:#FFFFFF;
    font-family: 'Inter Tight', sans-serif;
    color: #0d1216;
    align-items:center;
    justify-content:flex-end;
}
.inicio{
    margin-right: 15px;
}
#link:first-child{
    color:#0d1216;
    font-size: 16px;
}
.subrayado{
    text-decoration: none;
}
.espacio{
    margin-right: 15px;
}
.lupa{
    margin-left: 5px;
    margin-right: 0px;
}
.container{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}
.container > #paraTitulo{
    color: whitesmoke;
    font-family: 'Climate Crisis', cursive;
    font-size: 60px;
    margin-right: 50px;
    margin-left: 40px;
    text-align: center;
}
.container > #para1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color:whitesmoke;
    text-align: right;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 0px;
}
.border-top{
    border-width: 2px;
}
.img{
    width: 100%;
    height: 100%;
}
.textoFoto{
    position: absolute;
    top: 43%;
    left: 15%;
    right: 15%;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFFFFF;
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #6D3826;
}
.fotos{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.foto{
    width: 350px;
    height: 400px;
    position: relative;
    margin: 5px;
}

@media screen and (max-width: 420px){
    body{
        background-color: #0d1216;
        border: 0px;
        padding: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
    }
    .container{
        margin-top: 5px;
        margin-bottom: 5px;
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
    }
    .container > #paraTitulo{
        color: whitesmoke;
        font-family: 'Climate Crisis', cursive;
        font-size: 28px;
        margin-right: 15px;
        margin-left: 15px;
        text-align: center;
    }
    .container > #para1{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 14px;
        color:whitesmoke;
        text-align: right;
        margin-right: 15px;
        margin-left: 8px;
        margin-bottom: 0px;
    }
    .menu{
        position: sticky;
        display: flex;
        height: 25px;
        top: 0;
        margin-bottom: 10px;
        background-color:#FFFFFF;
        font-family: 'Inter Tight', sans-serif;
        color: #0d1216;
        align-items: center;
        justify-content: flex-end;
    }
    .inicio{
        margin-right: 15px;
    }
    #link:first-child{
        color:#0d1216;
        font-size: 12px;
    }
    .subrayado{
        text-decoration: none;
    }
    .espacio{
        margin-right: 15px;
    }
    .img{
        width: 100%;
        height: 100%;
    }
    .textoFoto{
        position: absolute;
        top: 35%;
        left: 15%;
        right: 15%;
        text-align: center;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #FFFFFF;
        font-size: 14px;
        padding: 3%;
        background-color: #6D3826;
    }
    .lupa{
        margin-left: 5px;
        margin-right: 0px;
    }
    .fotos{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 10px;
    }
    .foto{
        width: 200px;
        height: 250px;
        margin: 5px;
    }
}