h1 {
    text-align: center;
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background-color: rgba(150, 150, 240, 0.735);
}
p {
    text-align: center;
    font-family: Helvetica, serif;
    color:rgb(85, 85, 205);
    border: 2px solid rgb(85, 85, 205);
    padding: 10px;
    background-color: lightblue;
}