body {
    background-color: rgba(150, 150, 240, 0.735);
}
p {
    color:rgb(85, 85, 205);
    font: 20px bolder;
    border: 2px solid rgb(85, 85, 205);
    padding: 10px;
    background-color: lightblue;
}