body{
    background-color: #0d1216;
    border: 0px;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}
.menu{
    display: flex;
    align-items:center;
    justify-content:flex-end;
    position: sticky;
    z-index: 1;
    top: 0px;
    height: 40px;
    margin-bottom: 20px;
    padding-right: 15px;
    gap: 15px;
    background-color:#FFFFFF;
  }
  #textoMenu{
    font-family: 'DM Sans', sans-serif;
    color: #0d1216;
    text-decoration: none;
    font-size: 17px;
  }

/*Solo de esta página*/
#titulo{
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'DM Sans', sans-serif;
    color: whitesmoke;
    font-size: 40px;
    margin-top: 38px;
}

/*fotos*/
.fotos{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 45px;
  }
  #img{
    width: 100%;
    height: 100%;
  }
  .foto{
    position: relative;
    width: 350px;
    height: 400px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .arriba{
    position: absolute;
  }
  #formato{
    font-family: 'DM Sans', sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
  }

/*Buscador*/
.buscador{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 35px;
  gap: 10px;
}
#textoB {
  font-size: 30px;
  font-family: 'DM Sans', sans-serif;
  color: whitesmoke;
}
#textoC{
  font-size: 20px;
  font-family: 'DM Sans', sans-serif;
  color: whitesmoke;
}
#Form{
  margin: 15px;
}

/*Responsive*/
@media screen and (max-width: 790px){
  #textoMenu{
      font-family: 'DM Sans', sans-serif;
      color: #0d1216;
      text-decoration: none;
      font-size: 14px;
    }
  }