body{
    background-color: #0d1216;
    border: 0px;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

.flecha1{
    margin-right: 5px;
}
.flecha2{
    margin-top: 20px;
    margin-bottom: 20px;
}