body{
    background-color: #0d1216;
    border: 0px;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}
.menu{
    display: flex;
    position: sticky;
    height: 40px;
    top: 0;
    margin-bottom: 20px;
    background-color:#FFFFFF;
    font-family: 'Inter Tight', sans-serif;
    color: #0d1216;
    align-items: center;
    justify-content: space-between;
}
.volver{
    margin-left: 5px;
    margin-right: 15px;
}
.inicio{
    margin-right: 15px;
}
#link:first-child{
    color:#0d1216;
}
.subrayado {
    text-decoration: none;
}
.espacio{
    margin-right: 15px;
}
.flecha1{
    margin-right: 5px;
}

/*Solo de esta página*/
.titulo{
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Climate Crisis', cursive;
    color: whitesmoke;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 25px;
}

.foto1{
    background-image:url(/Barrio/imagenes/Palermo.jpg);
    background-size: cover;
}
.foto2{
    background-image:url(/Barrio/imagenes/Colegiales.jpg);
    background-size: cover;
}
.foto3{
    background-image:url(/Barrio/imagenes/San\Telmo.jpg);
    background-size: cover;
}
.foto4{
    background-image:url(/Barrio/imagenes/Cañitas.jpg);
    background-size: cover;
}
.foto5{
    background-image:url(/Barrio/imagenes/Nuñez-Belgrano.jpg);
    background-size: cover;
}
.tamaño{
    width: 220px;
    height: 300px;
}
.texto-fotos{
    position: absolute;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFFFFF;
    background-color: #788143;
    text-align: center;
    margin: 50px;
    padding: 10px;
}
